@import 'variables';

@font-face {
  font-family: $RalewaySemiBold;
  src: url('../assets/fonts/Raleway-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/Raleway-SemiBold.woff') format('woff'),
  url('../assets/fonts/Raleway-SemiBold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: $RalewayRegular;
  src: url('../assets/fonts/Raleway-Regular.woff') format('woff'),
  url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
  url('../assets/fonts/Raleway-Regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: $RalewayLight;
  src: url('../assets/fonts/Raleway-Light.woff') format('woff'),
  url('../assets/fonts/Raleway-Light.woff2') format('woff2'),
  url('../assets/fonts/Raleway-Light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: $LaBelleAurore;
  src:  url('../assets/fonts/LaBelleDemoVersion.woff2') format('woff2');
  font-display: swap;
}