// Fonts
$RalewayRegular: 'Raleway-Regular';
$RalewaySemiBold: 'Raleway-SemiBold';
$RalewayLight: 'Raleway-Light';
$LaBelleAurore: 'LaBelleDemoVersion';

// Colors
$bgClr: rgba(#0B0C10, .83);
//$bgClr: rgba(#0b0f27, .83);
$black: #0B0C10;
$white: #FFFFFF;
$greenExtraLight: #E6FCAA;
$greenLight: #c6f740;
$green: #C2F14D;
$greenDark: #728A38;
$greenExtraDark: #4A4E3E;
$lightGrey: rgb(#0B0C10, .90);
$grey: #D9D9D9;
$darkGrey: #232323;

// breakpoints
$tablet: 768px;
$desktopExtraSmall: 1024px;
$desktopSmall: 1440px;
$desktop: 1680px;
$desktopLarge: 1980px;
