@import '../../styles/variables.scss';
@import '../../styles/media.scss';

.works {
    background: $darkGrey;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.works__wrapper {
    width: 100vw;
    height:100vh;
    border-radius: 7% 7% 0 0;
    overflow: hidden;
    background: transparent!important;
}
