@import '../../../../styles/variables.scss';
@import '../../../../styles/media.scss';

.skills__word {
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  pointer-events: none;
  // transform: translateY(-50%);

    svg {
      position: absolute;
      bottom:0;
      width: 100%;
      height: auto;	

      @include  desktopSmall  {
        width:50%;
      }
    }

  .skills {
    opacity:1;
  }  

}