@import '../../../styles/variables.scss';
@import '../../../styles/global.scss';
@import '../../../styles/media.scss';

.skills__section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 130vh;

  @include  desktopExtraSmall  {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
  }
}

