@import '../../../../styles/variables.scss';
@import '../../../../styles/global.scss';
@import '../../../../styles/media.scss';

.letter-conteiner{
	width: 100%;
	height: 100%;
	opacity: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	& svg {
		width: 520px;
		height: auto;
	}
}
