@import '../../../styles/variables.scss';
@import '../../../styles/global.scss';
@import '../../../styles/media.scss';

.intro__container {
  width: 100%;
  height:80vh;
  min-height:600px;


  @include  desktopExtraSmall  {
    height:100vh;
  }
}
