@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';
@import '../../../../styles/media.scss';

.skills__list {
    font-size: 1.5rem;
    line-height: 2.5rem;
    pointer-events: none;
    margin-right: 0;

    @include  desktopExtraSmall  {
        font-size: 2rem;
        line-height: 3.5rem;
        margin-right: 10rem;
    }    
}

.skills__item svg {
    color: $green;
    margin-right: 7px;
    width: 1.3rem;
    opacity:1;
    
}
